/* Css for the 'about' page*/
#h1about  {
    color: aqua; 
    border: dashed;
    margin: 340px;
    text-shadow: darkblue;
    text-align: middle;
    border-color: black;
    line-height: 3pc;
    font-size: 30px;
    text-align: center;
}